# Compiled class files
*.class
*.log
*.ctxt

# Compiled Python files
__pycache__/
*.py[cod]
*$py.class

# JavaScript files
node_modules/
*.js.map

# Compiled Rust files
/target/
**/*.rs.bk

# IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temporary files
*.swp
*.swo
*~

# Personal input files (often provided by Advent of Code)
**/input.txt
src/2025/day02/.stack-work/stack.sqlite3
src/2025/day02/.stack-work/stack.sqlite3.pantry-write-lock
src/2025/day02/day02/CHANGELOG.md
src/2025/day02/day02/day02.cabal
src/2025/day02/day02/LICENSE
src/2025/day02/day02/README.md
src/2025/day02/day02/Setup.hs
src/2025/day02/day02/stack.yaml
src/2025/day02/day02/stack.yaml.lock
src/2025/day02/day02/.stack-work/stack.sqlite3
src/2025/day02/day02/.stack-work/stack.sqlite3.pantry-write-lock
src/2025/day02/day02/.stack-work/dist/1a191874/build-lock
src/2025/day02/day02/.stack-work/dist/1a191874/setup-config
src/2025/day02/day02/.stack-work/dist/1a191874/stack-cabal-mod
src/2025/day02/day02/.stack-work/dist/1a191874/stack-project-root
src/2025/day02/day02/.stack-work/dist/1a191874/stack-setup-config-mod
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/day02.exe
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/autogen/cabal_macros.h
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/autogen/PackageInfo_day02.hs
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/autogen/Paths_day02.hs
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/day02-tmp/Main.hi
src/2025/day02/day02/.stack-work/dist/1a191874/build/day02/day02-tmp/Main.o
src/2025/day02/day02/.stack-work/dist/1a191874/package.conf.inplace/package.cache
src/2025/day02/day02/.stack-work/dist/1a191874/package.conf.inplace/package.cache.lock
src/2025/day02/day02/.stack-work/dist/1a191874/stack-build-caches/3b5d775927bead0eb4e73f4c9914a71121ef40a9be8e3c91f1cda41fb582f16c/exe-day02
src/2025/day02/day02/.stack-work/ghci/fb557962/cabal_macros.h
src/2025/day02/day02/.stack-work/install/61966f9c/bin/day02.exe
src/2025/day02/day02/.stack-work/install/61966f9c/doc/day02-0.1.0.0/LICENSE
src/2025/day02/day02/.stack-work/install/61966f9c/installed-packages/day02-0.1.0.0
src/2025/day02/day02/.stack-work/install/61966f9c/pkgdb/package.cache
src/2025/day02/day02/.stack-work/install/61966f9c/pkgdb/package.cache.lock
src/2025/day02/day02/.stack-work/ghci/64404692/cabal_macros.h
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/setup-config
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/day02.exe
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/autogen/cabal_macros.h
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/autogen/PackageInfo_day02.hs
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/autogen/Paths_day02.hs
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/day02-tmp/Main.hi
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/build/day02/day02-tmp/Main.o
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/cache/build
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/cache/config
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/cache/registration
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/package.conf.inplace/package.cache
src/2025/day02/day02/dist-newstyle/build/x86_64-windows/ghc-9.6.7/day02-0.1.0.0/x/day02/package.conf.inplace/package.cache.lock
src/2025/day02/day02/dist-newstyle/cache/compiler
src/2025/day02/day02/dist-newstyle/cache/config
src/2025/day02/day02/dist-newstyle/cache/elaborated-plan
src/2025/day02/day02/dist-newstyle/cache/improved-plan
src/2025/day02/day02/dist-newstyle/cache/plan.json
src/2025/day02/day02/dist-newstyle/cache/solver-plan
src/2025/day02/day02/dist-newstyle/cache/source-hashes
src/2025/day02/day02/dist-newstyle/cache/up-to-date
src/2025/day02/day02/dist-newstyle/packagedb/ghc-9.6.7/package.cache
src/2025/day02/day02/dist-newstyle/packagedb/ghc-9.6.7/package.cache.lock
